# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env

# OS
.DS_Store
Thumbs.db

# Docs
*.docx

# Git
-p/

# Empty stubs
src/rating_service/
src/worker_service/
