# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env

# OS
.DS_Store
Thumbs.db

# Empty stubs
project/src/rating_service/
project/src/worker_service/
